<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Real-Time Products</h1>
    <ul id="product-list">
        {{#each products}}
            <li>{{this.name}} - {{this.price}}</li>
        {{/each}}
    </ul>

    <script>
        const socket = io();

        function updateProductList(products) {
            const productListElement = document.getElementById('product-list');
            productListElement.innerHTML = '';

            products.forEach((product) => {
                const listItem = document.createElement('li');
                listItem.textContent = `${product.name} - ${product.price}`;
                productListElement.appendChild(listItem);
            });
        }

        socket.on('updateProductList', updateProductList);
    </script>
</body>
</html>
